* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body > header {
  background-color: orange;
  padding: 16px 0;
  color: #f5f6fa;
  position: fixed;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  display: inline;
}

header li a {
  color: #f5f6fa;
  text-decoration: none;
  margin: 8px;
  font-weight: bold;
  font-size: 16px;
}

header li a:hover {
  color: #ff0000;  
  transition: .5s;  
}

main {
  background: -webkit-linear-gradient(right, #cdad7c, #fff);
  padding-top: 80px;
}

#economy, #entretenimento {
  padding-top: 70px;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.articles article {
  width: 30%;
}

section h2, .articles article {
  margin-bottom: 16px;
}

.articles article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.articles article a {
  background-color: orange;
  color: #fff;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 8px;
}

.articles article a:hover {
  background-color: #f50606;  
  transition: .5s;
}

.articles article p, .articles article a {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.articles article h3 {
  font-size: 24px;
}

section h2 {
  font-size: 32px;
}

footer {
  background-color: orange;
  padding: 16px;
  color: #f5f6fa;  
  width: 100%;
  text-align: right;
}
